.header{
   color: Grey;
   font-family: smoothie shoppe, cursive;
   font-size:5em;
   margin-left: 200px;
   opacity: 0.5;
   z-index: 5;
}
.sub_header{
  font-family: futura, sans-serif;
  font-size: 1.5em;
  color: grey;
  margin-left: 206px;
  z-index: 5;
}
.intro{
  font-family: futura, sans-serif;
  font-size: 1em;
  color: grey;
  margin-left: 208px;
  z-index: 5;
}

.container{
  height: 300px;
  width:100%;
}
.deco_bar{
  height:300px;
  width:200px;
  background-color: pink;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}





.gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  /*border: 2px solid #003C72;*/
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.navigation li {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

.navigation li a img {
  display: block;
  border: none;
}

.navigation li a {
  display: block;
}

.full-picture {
  width: 600px;
  height: 375px;
  overflow: hidden;
  float: left;
}
