<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="folio_site.css" />
    <title>Kimberley Lawrence</title>
  </head>
    <body>
        <div class="whitespace_lg"></div>
        <div class="container">
          <div class="header">
           Kimberley Lawrence
          </div>
          <p id="sub_header"> Online Portfolio </p>
          <p> A lover of graphic design, hand lettering, cake decoration and all things quirky and crafty.  </p>


         <div class="whitespace"></div>
         <div id="illustration">
            <div class="text_on_image"> Illustration </div>
            <img src="http://abduzeedo.com/files/originals/space-theme.jpg" alt="Moon mower"/>
         </div>
          <!--<div class="center_buttons">
            <a href="#" ng-click="activate(0)">
              <div class="button" ng-class="{'active':translate_index == 0}"> Phonetic </div>
            </a>
            <a href="#" ng-click="activate(1)">
              <div class="button" ng-class="{'active':translate_index == 1}"> Pho-net-ics </div>
            </a>
            <a href="#" ng-click="activate(2)">
              <div class="button" ng-class="{'active':translate_index == 2}"> Evil </div>
            </a>
          </div>
        <div class="whitespace"></div>
        <div  class="center_buttons">
          <input id="userinput" type="text" ng-model="userinput" ng-change="change()" placeholder="Your text here">
            <p id="translated" ng-bind="translated"></p>
            <p>{{translate_index}}</p>
        </div>
        </div>
      -->
      </div>
      </body>
    </html>
