<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Phonetics.css" />
    <title>Phonetics</title>
  </head>
    <body>
        <div class="whitespace"></div>
        <div class="container" ng-app="myApp" ng-controller="myCtrl">
          <div class="header">
           Phonetics
          </div>
          <p id="sub_header"> Making phone conversations easier since 2015 </p>
          <p> Simply select your style, add your text and repeat </p>


         <div class="whitespace"></div>
          <div class="center_buttons">
            <a href="#" ng-click="activate(0)">
              <div class="button" ng-class="{'active':translate_index == 0}"> Phonetic </div>
            </a>
            <a href="#" ng-click="activate(1)">
              <div class="button" ng-class="{'active':translate_index == 1}"> Pho-net-ics </div>
            </a>
            <a href="#" ng-click="activate(2)">
              <div class="button" ng-class="{'active':translate_index == 2}"> Evil </div>
            </a>
          </div>
        <div class="whitespace"></div>
        <div  class="center_buttons">
          <input id="userinput" type="text" ng-model="userinput" ng-change="change()" placeholder="Your text here">
            <p id="translated" ng-bind="translated"></p>
            <p>{{translate_index}}</p>
        </div>
        </div>



    <script type="">
     var app = angular.module('myApp', []);
     app.controller('myCtrl', function($scope) {
         // MAP of letters to evil words!
         var translate_map = {
         'a': ["apple", "ah-pool", "are"],
         };
         $scope.translated='Text will appear here';
         $scope.translate_index=0;
         // When userinput is changed this function is called.
         $scope.change = function() {
           if($scope.userinput.length == 0){
             $scope.translated='Text will appear here';
             return
           }
         // Wipe out the translated string, because we are going to rebuild the string.
         $scope.translated = '';
         // for each letter in the inputword
          for (var i = 0, len = $scope.userinput.length; i < len; i++) {

             letter_that_should_be_tranlated = $scope.userinput[i]; // a

             response_from_translate_map = translate_map[letter_that_should_be_tranlated];
              if(response_from_translate_map == undefined){
                $scope.translated += ' ' + letter_that_should_be_tranlated;
              }
              else{
                $scope.translated += ' ' +  response_from_translate_map[$scope.translate_index];
              }
           }
         };
         $scope.activate= function(index){
           $scope.translate_index=index;
            $scope.change();
         }

     });
    </script>
    </body>
</html>
