.header{
   color: #f493be;
   font-family: smoothie shoppe, sans-serif;
   font-size:5em;
   text-align: center;
   z-index: 5;
   line-height: 10px;
   margin-top: 50px;
   letter-spacing: -3px;

}
.sub_header{
  font-family: didot, sans-serif;
  font-size: 1.5em;
  color: #404040;
  margin-left: 790px;
  z-index: 5;
}


.deco_bar{
  height:100px;
  width:100%;
  /*background-color: pink;*/
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}
.thumbnails img {
	height: 80px;
	margin: 0;
}

.thumbnails img:hover {
	cursor:pointer;
}
.gallery{
  background-color: #D8D8D8;
  height:560px;
  width: 700px;
  border-radius: 5px;
  margin: auto;

}
.preview img {
	border: 4px solid #404040;
  border-radius: 5px;
	padding: 1px;
  height:400px;
  overflow: auto;
}
.preview{
  overflow: hidden;
}
#caption{
  font-family: didot, sans-serif;
  font-size: 1em;
  color: #404040;
  text-align: center;
  z-index: 5;
}
